<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if cards %}
    <ul>
    {% for card in cards %}
        <li> {{ forloop.counter }} <a href="{%  url 'cards:detail' card.id %}"> {{ card.phrase }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cards are available</p>
{% endif %}

<p>Add new language</p>
<form action="{% url 'cards:new_language' %}" method="post">
    {% csrf_token %}
    <input type="text" name="language_name" value="">
<input type="submit" value="New language"/>
</form>

<p>Add new phrase</p>
<form action="{% url 'cards:new_card' %}" method="post">
    {% csrf_token %}
    <input type="text" name="phrase" value="">
    {% for language in languages %}
        <input type="radio" name="language" id="language{{ forloop.counter }}" value="{{ language.id }}">
        <label>{{ language.name }}</label>
    {% endfor %}
<input type="submit" value="New phrase"/>
</form>
</body>
</html>