<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Card #{{$index + 1}}</h3>
    </div>
    <div ng-controller="EditCardController as ctrl" ng-init="ctrl.setCardId($index);">
    <div class="panel-body">
       <table class="table table-hover">
           <thead>
               <tr>
                   <th>Phrase</th>
                   <th>Langauge</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="phrase in ctrl.card.phrases">
                   <td>{{phrase.phrase}}</td>
                   <td>{{phrase.language.name}}</td>
                   <td>
                        <input type="button" class="btn-warning btn-block" ng-click="ctrl.removePhraseFromCard(phrase)" value="Remove"/>
                    </td>
               </tr>
           </tbody>
       </table>
    </div>
    
    <div class="panel">
        <input type="search" name="searchPhrase" id="inputSearchPhrase" ng-class="{'form-control' : true,  'alert-warning' : ctrl.searchResults.length , 'alert-success' : !ctrl.searchResults.length}" placeholder="Search phrase to add" value="" required="required" title="Search phrase" ng-model="ctrl.searchPhraseRequest" ng-change="ctrl.searchForPhrase(ctrl.searchPhraseRequest)" autocomplete="off">
    </div>
    
    <table class="table table-striped table-hover" ng-if="ctrl.searchResults.length">
        <thead>
            <tr>
                <th>Phrase</th>
                <th>Language</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="phrase_item in ctrl.searchResults">
                <td>{{phrase_item.phrase}}</td>
                <td>{{phrase_item.language.name}}</td>
                <td>
                        <input type="button" class="btn-info btn-block" ng-click="ctrl.addPhraseToCard(phrase_item)" value="Add"/>
                </td>
            </tr>
        </tbody>
    </table>
    </div> 
</div>
