<!DOCTYPE html>
<html ng-app="cardsApp">
<head lang="en">
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/models/card.js"></script>
    <script src="js/models/phrase.js"></script>
    <script src="js/models/language.js"></script>
    <script src="js/app.js"></script>
    <link href="js/libs/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="js/libs/bootstrap-3.3.4-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="js/libs/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <title>Cards</title>
</head>
<body ng-controller="wordsCtrl">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home-tab" aria-controls="home-tab" role="tab" data-toggle="tab">Languages</a>
            </li>
            <li role="presentation">
                <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Phrases</a>
            </li>
            <li role="presentation">
                <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Cards</a>
            </li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home-tab">

                <div class="page-header">
                    <h1>{{userModel.user}}'s configured languages
                        <span class="label label-default" ng-class="warningLevel()"
                              ng-hide="incompleteCount() == 0">{{incompleteCount()}}</span></h1>
                </div>
                <div class="panel">
                    <div class="input-group">
                        <input class="form-control" ng-model="languageName"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addNewLanguageItem(languageName)">Add</button>
                        </span>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in userModel.configuredLanguages">
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-1">
                <div class="page-header">
                  <h1>{{ userModel.user }}'s <small>configured phrases</small></h1>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                       <div class="input-group">
                           <input type="text" class="form-control" id="exampleInputAmount" placeholder="Phrase" ng-model="phrase">

                            <select class="form-control" ng-model="languageModel" ng-options="item.name for item in userModel.configuredLanguages">
                                <option value="">--Chose language--</option>
                           </select>
                           
                           
                           <button type="button" class="btn btn-default" ng-click="addNewPhraseItem(phrase, languageModel)">Add new phrase</button>
                       
                       </div>
                       <table class="table table-striped">
                           <thead>
                               <tr>
                                   <th>Phrase</th>
                                   <th>Langugage</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="item in userModel.phrases">
                                   <td>{{item.phrase}}</td>
                                   <td>{{item.language.name}}</td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="item in userModel.cards">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Card #{{$index + 1}}</h3>
                            </div>
                            <div class="panel-body">
                               <table class="table table-hover">
                                   <thead>
                                       <tr>
                                           <th>Phrase</th>
                                           <th>Langauge</th>
                                           <th>Remove</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr ng-repeat="phrase in item.phrases">
                                           <td>{{phrase.phrase}}</td>
                                           <td>{{phrase.language.name}}</td>
                                           <td>
                                               <div class="checkbox">
                                                   <label>
                                                       <input type="checkbox" value="" ng-model="removeFromCard" ng-change="item.removePhraseFromCard(phrase)">
                                                   </label>
                                               </div>
                                            </td>
                                       </tr>
                                   </tbody>
                               </table>
                            </div>
                            
                            <div class="panel">
                                <input type="search" name="searchPhrase" id="inputSearchPhrase" class="form-control" placeholder="Search phrase to add" value="" required="required" title="Search phrase" ng-model="searchPhraseRequest" ng-change="searchForPhrase($index, searchPhraseRequest)">
                            </div>
                            
                            <table class="table table-striped table-hover" ng-if="userModel.searchResults[$index].length">
                                <thead>
                                    <tr>
                                        <th>Phrase</th>
                                        <th>Language</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="phrase_item in userModel.searchResults[$index]">
                                        <td>{{phrase_item.phrase}}</td>
                                        <td>{{phrase_item.language.name}}</td>
                                        <td><div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="addToCard" ng-change="item.addPhraseToCard(phrase_item); removeFromSearchResults($index, phrase_item)">
                                            </label>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>